@import "global";
@import "vars";
@import "slick";
@import "fonts";

.header__top {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "SFProDisplay-Bold", sans-serif;
        font-weight: 700;
        min-width: 122px;
    }
}

.page-section {
    margin-bottom: 80px;
}

.menu__item {
    display: inline-block;
}

.menu__item+.menu__item {
    padding-left: 50px;
}

.header__box {
    display: flex;
}

.header__adress {
    margin-right: 26px;
    width: 265px;
    padding-left: 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        background-image: url(../images/adress-icon.svg);
        width: 30px;
        height: 30px;
        top: -10px;
    }
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;

    &__item {
        padding-right: 10px;
    }
}

.bascet {
    position: relative;
}

.bascet__num {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #1c62cd;
    border-radius: 50%;
    text-align: center;
    bottom: -8px;
    right: -15px;
}

.header__bottom {
    margin-bottom: 80px;
}

.menu-categories {
    background: #f0f0f4;
    display: flex;
    justify-content: space-around;
    min-height: 53px;
    text-align: center;
}

.menu-categories__item {
    position: relative;
}

.menu-categories__link {
    transition: all 0.3s;
    font-weight: 400;
    padding: 15px 0 14px;
    position: relative;

    &:hover {
        color: #000;

        &::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 0;
        left: auto;
        background-color: #1c62cd;
        height: 3px;
        bottom: -2px;
        transition: all 0.3s;
        right: 0;
    }
}

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
}

.banner-arrow,
.products__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.banner-arrow__nex {
    right: 20px;
}

.products__slider-arrow__nex {
    right: -30px;
}

.banner-arrow__prev {
    left: 20px;
}

.products__slider-arrow__prev {
    left: -40px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;

    li {
        display: inline-block;
        padding: 0 5px;
    }

    button {
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        background-color: transparent;
        outline: none;
    }
}

.slick-active li button {
    background-color: #fff;
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #fff;
    text-transform: uppercase;
    background-color: #1c62cd;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price {
    text-align: right;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1c62cd;
    margin-right: 6px;
    padding-right: 20px;

    &:after {
        content: "";
        position: absolute;
        background-image: url(../images/content/icons-prise.svg);
        right: 0;
        top: 8px;
        width: 15px;
        height: 18px;
        background-repeat: no-repeat;
    }
}

.price {
    font-family: "Barlow", sans-serif;
    position: relative;
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-right: 11px;
    color: #c4c4c4;
    margin-right: 15px;
    background-image: url(../images/content/old-line.svg);
    padding: 2px 5px;
    display: inline-block;
    background-repeat: no-repeat;

    &::after {
        content: "";
        position: absolute;
        background-image: url(../images/content/icons-prise-old.svg);
        right: -10px;
        top: 5px;
        width: 8px;
        height: 10px;
        background-repeat: no-repeat;
    }
}

.sale-item__img {
    object-fit: contain;
}

.sale-item__title {
    font-size: 18px;
    line-height: 21px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
}

.sale-item__footer {
    background-color: #f0f0f4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;

    span {
        color: #1c62cd;
        font-weight: 700;
        font-family: "Barlow", sans-serif;
    }
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.searc {}

.searc__inner {}

.searc__tabs {
    margin-bottom: 25px;
}

.searc__tabs-item.tab--active {
    background: #f0f0f4;
    border-radius: 5px;
    font-weight: 700;
    font-family: "SFProDisplay-Bold", sans-serif;
}

.searc__tabs-item {
    padding: 11px 26px 12px;
}

.searc__content {}

.tabs-contant {
    display: none;
}

.tabs-contant--active {
    display: block;
}

.searc__content-form {
    display: flex;
}

.searc__content-input {
    background: #f0f0f4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;

    &::placeholder {
        color: #656464;
    }
}

.searc__content-btn {

    background: #1c62cd;
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-family: "SFProDisplay-Bold", sans-serif;
    color: #fff;
    letter-spacing: 0.12em;
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
}

.categories {}

.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all 0.3s;

    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }
}

.categories__item:hover .categories__item-title {
    color: #1c62cd;
}

.categories__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-img {
    text-align: center;
    width: 50%;

    img {
        max-width: 100%;
    }
}

.categories__item-title {
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    font-family: "Barlow", sans-serif;
    transition: all 0.3s;
}

.categories__item-text {
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    // position: relative;

    &::after {
        content: url("../images/link-arrow.svg");
        padding-left: 2px;
        // position: absolute;
    }
}

.products {}

.products__inner {}

.tabs-wrapper {}

.tabs {}

.products__tabs {
    margin-bottom: 25px;
}

.tab {}

.products__tab {
    padding-bottom: 10px;
}

.products__tab+.products__tab {
    margin-left: 50px;
}

.products__tab.tab--active {
    border-bottom: 2px solid #1c62cd;
}

.tab--active {}

.tabs-container {}

.products__container {}

.tabs-contant {}

.products__content {}

.tabs-contant--active {}

.products__slider {}

.products__slider-item {}

.products-item__wrapper {
    position: relative;
    width: 271px;
}

.products-item {
    min-height: 400px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    transition: all 0.3s;
    text-align: center;
    padding: 52px 20px 33px;
}

.products-item__favorite {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 22px;
        top: 0;
        left: 0;
        background-image: url(../images/favorite.svg);
    }
}

.products-item__favorite--active::before {
    background-image: url(../images/favorite-active.svg);
}

.products-item__img {}

.products-item__title {
    font-weight: normal;
    padding: 14px 0 25px;
}

.price {}

.products-item__price {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.products-item__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #1c62cd;
    border-radius: 10px 0px 0px 0px;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-top: 7px;
}

.products-item__hover-text {
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: all 0.3s;
}

.products-item:hover .products-item__hover-text {
    opacity: 1;
    color: #2f3035;
}

.products-item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: #1c62cd;
}

.products-item:hover .products-item__notify-text {
    color: #2f3035;
}

.products-item--sale {
    &::before {
        content: "sale";
        padding: 8px 15px;
        background-color: #1c62cd;
        text-transform: uppercase;
        color: #fff;
        left: 0;
        top: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        position: absolute;
    }
}

.products-item__wrapper.products-item__not-availble .products-item__price {
    display: none;
}

.products-item__notify-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.products-item__wrapper.products-item__not-availble .products-item__notify-text {
    display: block;
}

.products-item__wrapper.products-item__not-availble .products-item__basket {
    display: none;
}

.products-item__notify-link {
    display: none;
}

.products-item__wrapper.products-item__not-availble .products-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 19px;
    color: #1c62cd;
    text-align: center;

    span {
        border-bottom: 1px solid #1c62cd;
    }
}

.products-item__wrapper.products-item__not-availble .products-item__title {
    padding-bottom: 13px;
}

.products__title {
    font-weight: bold;
    font-family: "Barlow", sans-serif;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 30px;
}

.slick-slider img {
    display: inline-block;
}

.product__more {
    text-align: center;
    margin: 35px 0 0;
}

.product__more-link {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 16px 43px;
    background-color: #f0f4f07e;
}

.products,
.banner {
    margin-bottom: 80px;
}

.footer__top-newslatter.footer__top-item {
    width: 295px;
    margin-right: 50px;
}


.footer {
    background: #F0F0F4;

    &__bottom {
        padding: 46px 0 22px;
        display: flex;
        justify-content: center;
    }

    &__bottom-link {
        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }

    &__top-title {
        font-weight: 700;
        font-family: "SFProDisplay-Bold",
            sans-serif;
        font-size: 14px;
        line-height: 16px;
    }

    &__top {
        padding-top: 43px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
    }

    &-form {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
    }

    &-form__btn {
        text-transform: uppercase;
        padding: 10px 16px;
        border: none;
        background-color: #1c62cd;
        color: #fff;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.12em;
        font-weight: 600;
        font-family: "SFProDisplay-Semibold",
            sans-serif;
    }

    &-form__input {
        background-color: #fff;
        border: none;
        font-size: 14px;
        line-height: 17px;
        padding: 0 12px;

        &::placeholder {
            color: #C4C4C4;
        }
    }

    &__top-item {
        width: 200px;
    }

    &__top-social &__top-item {
        width: 250px;
    }

    &-list {
        font-size: 14px;
        line-height: 22px;
    }

    &-list__item {}

    &-list__link {}


}


.social-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.social-list+.social-list {
    margin-left: 30px;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs__list {}

.breadcrumbs__list--item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;

    font-size: 15px;
    line-height: 18px;


    color: #C4C4C4;

    &::after {
        position: absolute;
        content: "";
        right: 0;
        background-image: url('../images/link-arrow.svg');
        width: 6px;
        height: 9px;
        bottom: 5px;
    }

    &:last-child::after {
        display: none;
    }
}

.breadcrumbs__list--link {}


@import "media";